/* haalt de puntjes weg en zorgt voor hokjes */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* die informatie in het menu staat in de linkerkant van de hokjes */
li {
  float: left;
}

/* zorgt voor de vorm in het hokje, dus kleur van de tekst enzo */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}

/* maakt een menu hokje zwart als je er met de muis over hovert */
li a:hover:not(.active) {
  background-color: #111;
}

/* maakt de het hokje van de pagina die op het moment open staat groen*/
.active {
  background-color: #34c4e4;
}

.p1 {
  font-family: Verdana, sans-serif;
}

/* dit zorgt voor de opmaak van de header (achtergrond kleur en font type) */
.header {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  font-family: Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* maakt twee gelijke kolommen die naast elkaar staan */
.column {
  float: left;
  width: 50%;
  padding: 15px;
  font-family: Verdana, sans-serif;
}

/* lege stukken tussen de kolommen */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - zorgt dat tukken tekst en afbeeldingen onder elkaar komen te staan op smalle displays */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
/* Zorgt voor een footer onder aan de pagina die laat zien dat de site door mij is gemaakt */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(4 170 109);
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }